# Compiled Lua sources
luac.out

# Packer
plugin/packer_compiled.lua
plugin/packer_compiled.json

# Swap files
*.swp
*.swo
*~
.*.swp
.*.swo

# undo files (see :help undofile)
**.un~

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VIM
*[._]*.sav
*.[_]*.swo
*.[_]*.swp

# Neovim
site/
